D:\New Workspace\liferay-plugins-sdk-6.2\portlets\WBMoore-theme\docroot\css\custom.css
D:\New Workspace\liferay-plugins-sdk-6.2\portlets\WBMoore-theme\docroot\_diffs\css\custom.css
D:\New Workspace\liferay-plugins-sdk-6.2\portlets\WBMoore-theme\docroot\_diffs\templates\portal_normal.vm
D:\New Workspace\liferay-plugins-sdk-6.2\portlets\WBMoore-theme\docroot\templates\portal_normal.vm
D:\New Workspace\liferay-plugins-sdk-6.2\portlets\WBMoore-theme\docroot\css\.sass.cache\main.css